---
import { Banner } from "@/components/Banner";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main>
    <Banner />
     <div class="m-8">
       <p class="text-center">More coming soon!</p>
     </div>
  </main>
</Layout>
